#gform_notification_attachment{
	.details{
		li{
			position: relative;
			.file-details{
				margin-left:10px;
				.mime{
					font-style: italic;
					font-size: 12px;
					color:#ccc;
				}
			}
			.fl{
				float: left;
			}
		}
	}
	.dashicons{
		position: absolute;
		left: 5px;
		top: 5px;
		color:#FF0033;
		opacity: .25;
		cursor: pointer; 
		cursor: hand;
	}
	.dashicons:hover{
		color:#FF0033;
		opacity: .75
	}
}